language: node_js
node_js:
- stable
Services:
- mongodb
addons:
  ssh_known_hosts:
  - 138.91.114.14
cache:
  directories:
  - node_modules
install:
- npm install
script:
- npm run test
services:
- mongodb
branches:
  only:
  - master
  - deploy
before_install:
- openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv
  -in .travis/deploy_rsa.enc -out .travis/deploy_rsa -d
- eval "$(ssh-agent -s)"
- cp .travis/deploy_rsa ~/.ssh/deploy_rsa
- chmod 600 ~/.ssh/deploy_rsa
- ssh-add ~/.ssh/deploy_rsa
deploy:
- provider: script
  skip_cleanup: true
  script: bash .travis/deploy.sh
  on:
    branch: 
    - master
    - deploy
    
notifications:  
  email:
    recipients:
      - okomarkhaled@gmail.com
      - omarhadhoud@ymail.com
    on_success: never # default: change
    on_failure: always # default: always
